<div>
    <div class="topleft">{{config.phone}}</div>
    <div class="topright">{{config.ma_nr}}</div>
    <div id="my" ng-class="{working: shouldWork()}">
        <table width="100%" height="100%">
            <tr>
                <td valign="center" align="center">
                    <span class="bigger">{{time}}</span><br>
                    {{config.ty}}:{{config.number}}<br>
                    {{config.message}}<br>
                    <button class="bigger" ng-click="klick()">Klick</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="bottomleft">{{config.ty}}</div>
    <div class="bottomright">{{config.number}}</div>
</div>