<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "de.gamt.fidelitasopen"
        versionCode = "2" 
        version     = "0.0.3" >
    <preference name="phonegap-version" value="3.1.0" />
    
    <name>Fidelitas Open</name>

    <description>
        Example for Fidelitas
    </description>

    <author href="https://www.xing.com/profiles/Thomas_Richter" email="thomas.karl.richter@gmail.com">
        Thomas Richter 
    </author>
    
    <content src="index.html" />
    <icon src="img/logo128.png" />
    <access origin="http://nfcserver-hrd.appspot.com" />
    
    <gap:platform name="android" />
    
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="com.chariotsolutions.nfc.plugin" />
     <gap:plugin name="org.apache.cordova.device" />
</widget>
